@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:blue;">A New WebApp</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web pages with ASP .Net</a>.</p>
    
   <p>Testing it again</p>
</div>
<div>
   <table>
       <tr>
            <th>Testing1</th>
            <th>Testing2</th>
            <th>Testing3</th>
       </tr>
    </table>
</div>
