@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">A New WebApp</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web pages with ASP .Net</a>.</p>
</div>
<div>
   <table>
       <tr>
            <th>Test1</th>
            <th>Test2</th>
            <th>Test3</th>
       </tr>
    </table>
</div>
